html {
	background-color: #DEECF9;
}

body { 
	background-color: #fffefd;
	font: 1em semi-bold Tahoma, sans-serif; 
	max-width: 50em;
	margin: 0 auto;	
	padding: 1em 3em;
}

body, a {
	color: #211f1a;
}

figure {
	text-align: center;
}

li {
	margin: 0.4em;
}

@media (prefers-color-scheme: dark) {
	body, a {
		color: #fff9f0;
		background-color: #211f1a;
	}
}